In [35]:
l1=['ramesh','suresh','sathish']
l2=[20,30,40]
for i in range(len(l1)):
    print(f' {l1[i]} age is {l2[i]}')

 ramesh age is 20
 suresh age is 30
 sathish age is 40

In [ ]:
- python is impornt 
- in that dict is very imp

$zip$

In [37]:
l1=['ramesh','suresh','sathish']
l2=[20,30,40]
for i,j in zip(l1,l2):
    print(f'the {i} age is {j}')

the ramesh age is 20
the suresh age is 30
the sathish age is 40

In [39]:
l1=['ramesh','suresh','sathish']
l2=[20,30,40]
l3=['hyd','chen','mum']
for i,j,k in zip(l1,l2,l3):
    print(f'the {i} age is {j} he is from {k}')

the ramesh age is 20 he is from hyd
the suresh age is 30 he is from chen
the sathish age is 40 he is from mum

**dictionary**
- string  rep in qoutes
- list rep in sq brackets
- tuple rep in paranthesis
- set rep in curly braces with only one value
- dict rep in curly braces with 2 values
- dict  has key:value pair
- dict elemnts are in pair 
    - one elemnt called as **key**
    - another elem called as **val**

In [41]:
dict1={'ramesh':20,'suresh':30,'sathis':40}
dict1

{'ramesh': 20, 'suresh': 30, 'sathis': 40}

In [43]:
type(dict1)

dict

**intialization**

In [45]:
dict1={'ramesh':20,'suresh':30,'sathis':40}
# key int val string
# key str val  list vice versa

In [47]:
d1={20:'ram',30:'sur',40:'vig'}
d1

{20: 'ram', 30: 'sur', 40: 'vig'}

In [49]:
d2={'app':[10,20],'bana':[10,40]}
d2
# list can be val

{'app': [10, 20], 'bana': [10, 40]}

In [51]:
d3={[10,20]:'app',[10,40]:'bana'}
d3
# keys cannot be list

TypeError: unhashable type: 'list'

In [53]:
d4={'10':'20','30':60}
d4

{'10': '20', '30': 60}

In [55]:
d5={True:'0.5','2':False}
d5

{True: '0.5', '2': False}

In [57]:
d6={(10,20):[30,40],(40,60):['70','60']}
d6
# tuple is working

{(10, 20): [30, 40], (40, 60): ['70', '60']}

**imp interview qn**
- list is mutable
- tuple is immutable
- so list cannot be a key
- **keys are imp**

In [59]:
d6={'fruites':{10}}
d6

{'fruites': {10}}

In [61]:
d={{'fruites':50}:10}
d6

TypeError: unhashable type: 'dict'

In [63]:
d7={10.6:3,4:6.8,2+3j:4}
d7

{10.6: 3, 4: 6.8, (2+3j): 4}

In [65]:
d8={'ramesh':20,'ramesh':30}
d8
# keys are imp
# when same keys but diff val
# it will take latest val

{'ramesh': 30}

In [67]:
d9={'ramesh':20,'suresh':20}
d9

{'ramesh': 20, 'suresh': 20}

In [69]:
d10={'ramesh':20,'ramesh':20}
d10
# duplicates are not allowed

{'ramesh': 20}

In [71]:
dict1={'ramesh':20,'suresh':30,'sathish':40}
dict1

{'ramesh': 20, 'suresh': 30, 'sathish': 40}

In [73]:
min(dict1),max(dict1),len(dict1),sorted(dict1),list(reversed(dict1))

('ramesh',
 'suresh',
 3,
 ['ramesh', 'sathish', 'suresh'],
 ['sathish', 'suresh', 'ramesh'])

In [75]:
d2={20:'ram',30:'sur',40:'vig'}
min(d2),max(d2),len(d2),sorted(d2),list(reversed(d2))

(20, 40, 3, [20, 30, 40], [40, 30, 20])

In [77]:
d3={'ramesh':'20','suresh':'30','sathis':'40'}
min(d3),max(d3),len(d3),sorted(d3),list(reversed(d3))

('ramesh',
 'suresh',
 3,
 ['ramesh', 'sathis', 'suresh'],
 ['sathis', 'suresh', 'ramesh'])

In [79]:
d4={'ramesh':'20','suresh':30,40:'sathis'}
max(d4)

TypeError: '>' not supported between instances of 'int' and 'str'

- max/min/sorted can work for homogeneous
- sum is work for only numbs
- reversed can work for all

**index**

In [81]:
l=[10,20,30]
l[0]

10

In [83]:
s='python'
s[0]

'p'

In [99]:
d1={'ramesh':20,'suresh':30,'sathish':40}
d1[0]
# bec key nd value are pair 
# so we need to call the key
# we will get the ans(val)

KeyError: 0

In [95]:
# d1['ramesh'] # 20
# d1['suresh'] # 30
# d1['sathish'] # 40
# # d1[i]

In [101]:
for i in d1:
    print(i,d1[i])
    print(f'{i} has age :{d1[i]}')

ramesh 20
ramesh has age :20
suresh 30
suresh has age :30
sathish 40
sathish has age :40

- whenever we iterate  dict using for loop in op it will give keys
- if want to get val we will access through keys only
- key will work as index

In [103]:
d1={'fruites':['apple','bannana','cherry']}
d1['fruites'][2]

'cherry'

In [105]:
d1={'fruites':{'apple':['sweet','green','cust']}}
d1['fruites']['apple'][0]

'sweet'

In [107]:
d1={'fruites':[{'cost':[100,200,300]}]}
d1['fruites'][0]['cost'][1]

200

In [109]:
d1={'Fruites':['Apple'],'Cost':[{'1kg':[300,500],'2kg':['None']}]}
d1['Cost'][0]['2kg'][0]

'None'

In [111]:
d1={'Fruites':{'Mango':{'Nagpur':{'MH':{'King':{'Shivaji':{'Shambaji'}}}}}}}
d1['Fruites']['Mango']['Nagpur']['MH']['King']['Shivaji']

{'Shambaji'}

In [113]:
dir({ })

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

**how to covert list to dict**

In [115]:
names=['ramesh','suresh','sathi']
age=[20,30,40]
# create dic {ram:20,"":30,'':}
d1={}
for i,j in zip(names,age):
    print(i,j)

ramesh 20
suresh 30
sathi 40

In [117]:
names=['ramesh','suresh','sathish']
age=[20,30,40]
d1['ramesh']=20
d1['suresh']=30
d1['sathish']=40
d1

# d1[i]=j

{'ramesh': 20, 'suresh': 30, 'sathish': 40}

In [119]:
d1={}
for i,j in zip(names,age):
    d1[i]=j
d1

{'ramesh': 20, 'suresh': 30, 'sathish': 40}

In [ ]:
# str to list(split)
# listto string(join)
# list to dict()
# dict to list

**how to covert dict to list**

In [121]:
dict={'ramesh': 20, 'suresh': 30, 'sathish': 40}
dict.keys(),dict.values()

(dict_keys(['ramesh', 'suresh', 'sathish']), dict_values([20, 30, 40]))

In [123]:
keys=[]
values=[]
for i in dict:
  keys.append(i)
  values.append(dict[i])
keys,values

(['ramesh', 'suresh', 'sathish'], [20, 30, 40])

In [125]:
l=[i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**dictionary comprehension**

In [127]:
keys=[i for i in dict]
keys

['ramesh', 'suresh', 'sathish']

In [129]:
values=[dict[i] for i in dict]
values

[20, 30, 40]

In [131]:
names=['ramesh','suresh','sathish']
age=[20,30,40]
d1={}
for i,j in zip(names,age):
    d1[i]=j
d1

{'ramesh': 20, 'suresh': 30, 'sathish': 40}

In [133]:
{i:j for i,j in zip(names,age)}

{'ramesh': 20, 'suresh': 30, 'sathish': 40}

**mutable-immutable**
- list are mutable
- string are immutable
- tuple are immutable
- dict also mutable we can modify the val of dictnry

In [135]:
d={'ramesh':20, 'suresh': 30, 'sathish': 40}
d['ramesh']=40
d

{'ramesh': 40, 'suresh': 30, 'sathish': 40}

- dict is similar to dbase opens
- keys always unique but values can be change

**concatenation**

In [137]:
d1={'ramesh':20}
d2={'fruite':'apple'}
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

**methods**

**items-values-keys**

In [139]:
d={'ramesh': 40, 'suresh': 30, 'sathish': 40}
d.items()

dict_items([('ramesh', 40), ('suresh', 30), ('sathish', 40)])

In [141]:
d={'ramesh': 40, 'suresh': 30, 'sathish': 40}
d.keys()

dict_keys(['ramesh', 'suresh', 'sathish'])

In [143]:
d={'ramesh': 40, 'suresh': 30, 'sathish': 40}
d.values()

dict_values([40, 30, 40])

In [145]:
d={'ramesh': 40, 'suresh': 30, 'sathish': 40}
keys=d.keys()
type(keys),keys

(dict_keys, dict_keys(['ramesh', 'suresh', 'sathish']))

In [147]:
len(keys)

3

In [153]:
keys[0]

TypeError: 'dict_keys' object is not subscriptable

- dict_keys is a type of keys represented in a list
- it look like list but not list
- we cannot use list methods here
- for that we need to covert dict_keys to list

In [149]:
d5={'ramesh': 20, 'suresh': 30, 'sathish': 40}
keys=d5.keys()
list(keys)

['ramesh', 'suresh', 'sathish']

In [151]:
d5={'ramesh': 20, 'suresh': 30, 'sathish': 40}
values=d5.values()
print(list(values))

[20, 30, 40]

In [22]:
d={'ramesh': 20, 'suresh': 30, 'sathish': 40}
keys=[]
values=[]
for i in d:
    keys.append(i)
    values.append(d[i])
keys,values
###############list comp ##################################
keys=[i for i in d ]
values=[d[i] for i in d]

**for this methods are keys,values,items**

In [24]:
keys=list(d.keys())
values=list(d.values())
keys,values

(['ramesh', 'suresh', 'sathish'], [20, 30, 40])

In [74]:
d={'Ramesh': 20,'Suresh': 30,'Sathish': 40}
keys=[i.lower() for i in list(d.keys())]
values=[str(i) for i in list(d.values())]
{keys:values for keys,values in zip(keys,values)}

{'ramesh': '20', 'suresh': '30', 'sathish': '40'}

**get**

In [79]:
d={'Ramesh': 20,'Suresh': 30,'Sathish': 40}
d.get('Ramesh')

20

In [93]:
d.get('ram') # no error no ans

In [87]:
d['Ramesh'] # norml way

20

In [89]:
d['ram'] # error

KeyError: 'ram'

**update**

In [104]:
d={'Ramesh': 20,'Suresh': 30,'Sathish': 40}
d1={'fruites':'apple'}
d.update(d1)
d

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40, 'fruites': 'apple'}

In [118]:
d.update('apple'=200)
d

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (80067695.py, line 1)

In [120]:
d.update(apple=200)
d

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40, 'fruites': 'apple', 'apple': 200}

In [126]:
d.update([(200,'marks')])
d

{'Ramesh': 20,
 'Suresh': 30,
 'Sathish': 40,
 'fruites': 'apple',
 'apple': 200,
 200: 'marks'}

In [128]:
t=(200,'marks')
l=[t]
d.update(l)
d

{'Ramesh': 20,
 'Suresh': 30,
 'Sathish': 40,
 'fruites': 'apple',
 'apple': 200,
 200: 'marks'}

- concatenate of 2 dictnry fails
- but we can combine 2 dictnrys using update method

- 3:-ways
- d.update(d1):direct method
- d.update(apple=200):by assigning val
- d.update([(200,'marks')]):list in tuple

**pop-popitem**

In [141]:
d={'Ramesh': 20,'Suresh': 30,'Sathish': 40}
d.pop('Ramesh')
# it is expecting key

20

In [139]:
d

{'Suresh': 30, 'Sathish': 40}

In [143]:
#in list it expecting index
l=[100,200,300,400]
l.pop(2)

300

In [145]:
d={'Ramesh': 20,'Suresh': 30,'Sathish': 40}
d.popitem()

('Sathish', 40)

- pop will expect a key,correspdng val will be removed
   - pop will return the **val which is removing**
- pop item has no argmnts,last key-val pair will be removed
   - pop item return last key-val pair

**del**

In [156]:
l=[100,200,300,444]
del l[0]
l

[200, 300, 444]

In [160]:
l=[100,200,300,444]
del l # total l is gone here
l

NameError: name 'l' is not defined

In [168]:
d={'Ramesh': 20,'Suresh': 30,'Sathish': 40}
del d['Ramesh']
d

{'Suresh': 30, 'Sathish': 40}

In [172]:
d={'Ramesh': 20,'Suresh': 30,'Sathish': 40}
del d # gone here
d

NameError: name 'd' is not defined

In [174]:
d={'Ramesh': 20,'Suresh': 30,'Sathish': 40}
del (d) # gone here
d

NameError: name 'd' is not defined